{# templates/auth/password_reset.html #}

{% extends 'base.html' %}

{% block body %}

{% for msg in get_flashed_messages() %}
    <div>{{msg}}</div>
{% endfor %}

<h2>Reset your password</h2>

{{ username }}

<form action="{{ url_for('auth.reset_password') }}" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.password.label }}
        {{ form.password() }}
    </p>
    <p>
        {{ form.verify_password.label }}
        {{ form.verify_password() }}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>

{% endblock %}