<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style></style>
</head>
    <body>
        <div class="container">
            <h2>Panhinda User Login</h2>
            <p>Hello {{ user_name }},</p>
            <p>Please Confirm your Email by following this link</p>
            <div class="conf_link"><pre><a href="{{ link }}">{{ link }}</a></pre></div>
            <p>This link is valid for the next 5 minutes. Please do not share it with anyone.</p>
            <p>If you did not request this, you can safely ignore this email.</p>
            <div class="footer">
                &copy; {{ current_year }} Panhinda Corp. All rights reserved.
            </div>
        </div>
    </body>
</html>
