<div class="hidden sm:block ">
    <i
        class="fa-solid fa-book text-8xl opacity-20 absolute left-10 top-10 rotate-45 hover:opacity-40 hover:text-shadow transition-all duration-300">
    </i>
    <i
        class="fa-solid fa-plug text-7xl opacity-20 absolute top-1 right-200 rotate-45 hover:opacity-40 hover:text-shadow transition-all duration-300"></i>
    <i
        class="fa-solid fa-flask text-7xl rotate-45 opacity-20 absolute bottom-10 left-10 hover:opacity-40 hover:text-shadow transition-all duration-300"></i>
    <i
        class="fa-solid fa-star rotate-[30deg] text-7xl opacity-20 absolute bottom-10 right-10 hover:opacity-40 hover:text-shadow transition-all duration-300"></i>
    <i
        class="fa-solid fa-pen-nib absolute top-45 left-10 text-5xl text-yellow-300 rotate-[15deg] opacity-20 hover:opacity-40 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-book-open absolute bottom-10 left-140 text-6xl text-yellow-300 rotate-[-12deg] opacity-20 hover:opacity-40 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-share-nodes absolute top-70 right-30 text-5xl text-yellow-300 rotate-[10deg] opacity-20 hover:opacity-40 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-lightbulb absolute bottom-36 right-40 text-6xl text-yellow-300 rotate-[8deg] opacity-20 hover:opacity-40 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-comment-dots absolute top-34 left-100 text-5xl text-yellow-300 -translate-x-1/2 rotate-[5deg] opacity-20 hover:opacity-40 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-feather-pointed absolute bottom-50 left-15 text-6xl text-yellow-300 rotate-[20deg] opacity-20 hover:opacity-40 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-users absolute top-40 right-60 text-5xl text-yellow-300 rotate-[-10deg] opacity-20 hover:opacity-40 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-globe absolute bottom-30 right-100 text-6xl text-yellow-300 rotate-[10deg] opacity-20 hover:opacity-40 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-ring text-7xl opacity-20 absolute bottom-100 right-10 hover:opacity-40 hover:text-shadow transition-all duration-300"></i>
</div>