
<div class="hidden md:block">
    <i
        class="fa-solid fa-book text-8xl opacity-30 absolute left-50 top-50 rotate-45 hover:opacity-70 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-star text-7xl opacity-30 absolute bottom-10 right-70 hover:opacity-70 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-plug text-7xl rotate-45 opacity-30 absolute top-10 left-140 hover:opacity-70 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-flask rotate-[30deg] text-7xl opacity-30 absolute bottom-20 left-70 hover:opacity-70 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-pen-nib absolute top-25 left-10 text-5xl text-yellow-300 rotate-[15deg] opacity-30 hover:opacity-70 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-book-open absolute bottom-10 left-140 text-6xl text-yellow-300 rotate-[-12deg] opacity-30 hover:opacity-70 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-share-nodes absolute top-70 right-30 text-5xl text-yellow-300 rotate-[10deg] opacity-30 hover:opacity-70 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-lightbulb absolute bottom-36 right-40 text-6xl text-yellow-300 rotate-[8deg] opacity-30 hover:opacity-70 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-comment-dots absolute top-34 left-100 text-5xl text-yellow-300 -translate-x-1/2 rotate-[5deg] opacity-30 hover:opacity-70 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-feather-pointed absolute bottom-50 left-15 text-6xl text-yellow-300 rotate-[20deg] opacity-30 hover:opacity-70 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-users absolute top-40 right-60 text-5xl text-yellow-300 rotate-[-10deg] opacity-30 hover:opacity-70 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-globe absolute bottom-30 right-100 text-6xl text-yellow-300 rotate-[10deg] opacity-30 hover:opacity-70 hover:text-shadow transition-all duration-300 cursor-pointer"></i>
    <i
        class="fa-solid fa-ring text-7xl opacity-30 absolute right-100 top-70 hover:opacity-70 hover:text-shadow transition-all duration-300 cursor-pointer"></i>

</div>
