<div class="fixed z-50 right-0">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, msg in messages %}
            <div
                class="py-3 px-4  mt-2.5 mx-3.5 rounded-md shadow-md flex flex-row items-center gap-2.5 ml-auto w-max opacity-80 {{ 'bg-red-400 shadow-red-500' if category=='error' else 'bg-green-400 shadow-green-500'}}">
                <label for="message"
                    class="font-semibold text-sm {{ 'text-neutral-200' if category=='error' else 'text-neutral-700'}}">{{msg}}</label>
                <i class="fa-solid fa-xmark text-xs pt-0.5 {{ 'text-red-900' if category=='error' else 'text-green-900'}}"></i>
            </div>
        {% endfor %}
    {% endwith %}
</div>
