<form action="{{ url_for('articles.global_search') }}" method="get" class="w-max rounded-md px-20 flex justify-self-center justify-center  sm:mt-10 mt-5 py-3 xs:gap-5 gap-3 opacity-35">
    <input type="search" name="q" placeholder="Looking for Something ?"
        class="font-mono font-bold text-sm sm:px-30 px-5 border-2 rounded-xl py-2 
        focus-visible:border-b-3 focus-visible:outline-none 
        focus-visible:transition-discrete"/>
    <button type="submit" class="flex-row align-middle justify-center gap-5">
        <i class="fa fa-search text-sm cursor-pointer"></i>
        <label class="font-mono cursor-pointer">Search</label>
    </button>
</form>