<div class="flex flex-col text-left gap-5  justify-center">
    <form action="{{ url_for('profile.view_profile_personal_info')}}" method="post"
    class="px-6 py-4 mx-auto rounded-xl md:shadow-xl shadow-none flex flex-col gap-3 w-[380px]">
    {{form.hidden_tag()}}
    <h2 class="text-center font-bold text-lg max-w-sm font-nato">Change your details</h2>
    <div class="flex flex-col gap-2">
        {{
            form.first_name.label(class="text-sm font-medium text-gray-700 mb-1")
        }}
        {{
            form.first_name(
                class="w-full rounded-md bg-neutral-700 px-3 py-2 text-sm shadow-sm text-neutral-50 font-semibold placeholder-neutral-50 focus:outline-none border-2 focus:border-neutral-950 focus:bg-neutral-600", 
                value=current_user.first_name
            )
        }}
    </div>
    <div class="mb-4">
        {{form.last_name.label(class="block text-neutral-900 font-semibold mb-1")}}
        {{
            form.last_name(
                class="w-full rounded-md bg-neutral-700 px-3 py-2 text-sm shadow-sm text-neutral-50 font-semibold placeholder-neutral-50 focus:outline-none border-2 focus:border-neutral-950 focus:bg-neutral-600", 
                value=current_user.last_name
            )
        }}
    </div>
    <div class="mb-6">
        {{form.username.label(class="block text-neutral-900 font-semibold mb-1")}}
        {{
            form.username(
                class="w-full rounded-md bg-neutral-700 px-3 py-2 text-sm shadow-sm text-neutral-50 font-semibold placeholder-neutral-50 focus:outline-none border-2 focus:border-neutral-950 focus:bg-neutral-600", 
                value=current_user.username
            )
        }}
    </div>
    <div class="flex space-x-4">
        {{form.submit(class_="bg-amber-500 hover:bg-amber-400 text-neutral-900 text-sm font-signika font-bold py-2 px-4 rounded transition")}}
        <button type="reset" class="bg-amber-500 hover:bg-amber-400 text-sm text-neutral-900 font-signika font-bold py-2 px-4 rounded transition">Clear</button>
    </div>
</form>
</div>