{# templates/articles/index.html #}

{% extends 'base.html' %}

{% block body %}

{% include 'partials/navbar.html' %}

{% include 'partials/search_bar.html' %}

{% include 'partials/background_texture_2.html' %}


<div class="mx-7 my-10 flex flex-col gap-2">
    {% if not articles %}
    <h1 class="mt-2 text-center font-signika text-2xl">
        No Articles to Show &nbsp;&nbsp;
        <i class="fa fa-sad-cry"></i>
    </h1>
    {% endif %}
    {% for article in articles %}
    <div class="mb-2">
        <div>
            <h1 class="font-signika text-neural-500 text-3xl"><a
                    href="{{ url_for('articles.view_article', article_id=article.id) }}">{{ article.title }}</a></h1>
        </div>
        <div class="flex flex-row gap-3 align-sub items-end mt-1.5">
            <a href="{{ url_for('profile.view_profile') }}">
                <img src="{{url_for('static', filename='user_data/profiles/default.png')}}" alt="profile picture"
                    class="w-11 h-11 object-cover rounded-4xl cursor-pointer border-neutral-900 border-3">
            </a>
            <div>
                <h3><i class="fa fa-tag"></i>&nbsp;{{ article.category.label }}</h3>
                <h5 class="text-sm">By <a href="#" class="underline underline-offset-2">{{ article.author.first_name + '
                        ' +
                        article.author.last_name }}</a></h5>
            </div>
            <div class="text-sm">{{article.created | utc_to_local(format='%b. %d, %Y')}}</div>
            <div class="sm:flex flex-row gap-1 hidden">
                <div
                    class="flex flex-row gap-1 bg-yellow-300 px-2 py-0.5 text-xs font-semibold hover:text-neutral-500 cursor-pointer transition duration-200 ease-in-out rounded-md rounded-r-none">
                    <label for="count" class="text-sm cursor-pointer">Likes</label>
                    <div id="count" class="text-sm cursor-pointer">{{ article.likes | count }}</div>
                </div>
                <div
                    class="flex flex-row gap-1 bg-yellow-300 px-2 py-0.5 text-xs font-semibold hover:text-neutral-500 cursor-pointer transition duration-200 ease-in-out rounded-md rounded-l-none">
                    <label for="count" class="text-sm cursor-pointer">Comments</label>
                    <div id="count" class="text-sm cursor-pointer">{{ article.comments | count }}</div>
                </div>
            </div>
        </div>


        <div class="mx-2 my-5 bg-yellow-200 px-5 py-3 rounded-xl">
            <p class="m-1 font-kanit">
                {{ article.description | safe }}
                <a href="{{ url_for('articles.view_article', article_id=article.id) }}">
                    <button
                        class="text-neutral-500 text-sm rounded-md  px-2 py-1 cursor-pointer underline underline-offset-4">
                        Continue Reading...
                    </button>
                </a>
            </p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}