{# templates/base.html #}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="refresh" content="3"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


    {% block head %}{% endblock %}
    <title>Demo</title>
</head>

<body class="bg-yellow-100">

    {% block body %}{% endblock %}

</body>

</html>